.project-images {
    /* I'd like to make the images responsive and appear as a grid*/
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1.5rem;
    justify-items: center;
    justify-content: center;
    width: 100%;
}

h2#project-date {
    color: #aa7dce;
    font-weight: 000;
}

#project-technologies{
    gap: 0.5rem;
    margin-top: 3rem;
    color:  #607196;
}

#project-details {
    margin-top: 3rem;
}

/* Réinitialiser le style de section */
section {
    margin: 0;
    padding: 0;
    /* No underline */
    text-decoration: none;
    border-bottom: 0;
    border-top: 0;
    margin-top: 0;
}

footer {
    border-top: 0;
    margin-top: 0;
}

body>footer {
    text-align: left;
}

a, a:visited {
    color: 60A5FA
}

img {
    cursor: pointer;
    transition: 0.1s;
}

#project-details img:hover {
    transform: scale(1.1);
    transition: 0.2s;
}

#project-images {
    padding-top: 20px;
}